body {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
}

.wrapper {
        width: 940px;
        margin: 0 auto 0 auto;
        position: relative;
}

#main-nav {
        position: fixed;
}

#main-nav ul {
        list-style: none;
        padding: 0px;
}

#main-nav li {
        display: inline-block;
}

#main-nav li a {
        text-decoration: none;
        padding: 0.7em 1em;
        width: 8em;

        background-color: #444;
        border-right: 1px dotted white;
        color: #CCC;
}


#main-content section {
        position: absolute;
        top: 0;
        border: 1px dotted red;
        margin-top: 50px;
}

#track-selector {
        left: 0;
        width: 235px;
}

#main {
        left: 235px;
        width: 705px;
}
